body {
  font-family: "Poppins", system-ui;
  background-color: #b1b1b1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

h1 {
  color: #333;
  font-weight: 800;
  text-align: center;
  margin-top: 1.5rem;
  transition-duration: 1000ms;
}

h1:hover {
  letter-spacing: 2px;
  color: rgb(129, 2, 2);
}

.logo {
  display: block;
  margin: 30px auto 10px auto;
  max-width: 350px;
  height: auto;
  transition: transform 0.5s ease, filter 0.5s ease, box-shadow 0.5s ease;
}

.logo:hover {
  transform: scale(1.1) rotate(1deg);
  filter: brightness(1.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

#buscador-input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 80%;
  max-width: 400px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

#productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.productoItem {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.productoItem h3 {
  color: #333;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.productoItem p {
  color: #555;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.producto-img {
  border-radius: 12px;
  width: 150px;
  transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.productoItem:hover .producto-img {
  filter: brightness(1.1);
  transform: scale(1.05);
}

button.agregar-btn,
button.eliminar-btn {
  padding: 0.6rem 1.2rem;
  background: linear-gradient(45deg, #006400, #004e00);
  color: #e0e0e0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button.agregar-btn:hover,
button.eliminar-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.eliminar-btn {
  background: linear-gradient(45deg, #a70000, #5a1616);
}

.productoItem .badge {
  background-color: #ff4c4c;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: 8px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.productoItem {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#catFactBtn {
  background-color: #393a3a;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 2rem auto;
  display: block;
}

#catFactBtn:hover {
  background-color: #464646;
}

footer {
  margin-top: auto;
  padding: 1rem;
  color: #fff;
  background-color: #333;
  text-align: center;
}

.productoItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.producto-img {
  max-width: 100%;
  height: auto;
}

.productoItem {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productoItem:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.5);
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b3b3b3;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 1rem;
  background-color: #363636;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form input {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#login-form button {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #ad0404;
  color: #fff;
  cursor: pointer;
  color: #363636;
  font-weight: 600;
}

#login-form button:hover {
  background-color: #5f0000;
  color: #b3b3b3;
}

.swal2-show {
  background-color: #464646;
  color: #dfdfdf;
}

.swal2-styled {
  background-color: #ad0404;
  color: #363636;
  font-weight: 600;
}

nav ul {
  width: 100%;
  height: 50px;
  background-color: #363636e7;
  list-style-type: none;
  padding: 0;
  margin: 0px;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
}

nav ul li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #bdbdbd;
}

.contact-form {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 800px;
}

/* Estilo para el formulario de contacto */
.contact-form h2 {
  font-family: "Poppins", sans-serif;
  color: #363636;
  margin-bottom: 15px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-family: "Poppins", sans-serif;
  color: #333;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #920000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #470000;
}

/* Estilo del contenedor del mapa */
.map-container {
  position: relative;
  width: 100%;
  height: 450px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del iframe dentro del contenedor */
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 8px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

/* Estilo del footer con la información de contacto en dos columnas */
.footer-info {
  background-color: #303030;
  padding: 20px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #9b9b9b;
  margin-top: 0px;
}

/* Contenedor para las columnas de información de contacto */
.footer-info .contact-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-info .contact-details div {
  flex: 1;
  min-width: 200px;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .footer-info .contact-details {
    flex-direction: column;
    align-items: center;
  }

  .footer-info .contact-details div {
    margin-bottom: 20px;
  }
}

.bodyContact {
  background-image: url(https://www.whiskas.com.ar/cdn-cgi/image/format=auto,q=90/sites/g/files/fnmzdf4921/files/2022-11/eduquer-son-Chaton-comment-bien-eduquer-son-Chaton_0.jpg);
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.h2Contact {
  font-family: "Poppins", sans-serif;
  color: #bdbdbd;
  margin-bottom: 15px;
  text-align: center;
  font-size: 2rem;
}

#carritoContainer {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-top: 20px;
}
.producto {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.producto:last-child {
  border-bottom: none;
}
