body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

h1 {
  color: #333;
  font-weight: 900;
  text-align: center;
  margin-top: 1.5rem;
  transition-duration: 1000ms;
}

h1:hover {
  letter-spacing: 2px;
  color: rgb(129, 2, 2);
}

.logo {
  display: block;
  margin: 10px auto 10px auto;
  max-width: 350px;
  height: auto;
}

#buscador-input {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 80%;
  max-width: 400px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

#productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.productoItem {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.productoItem h3 {
  color: #333;
  margin-bottom: 0.5rem;
}

.productoItem p {
  color: #555;
  margin: 0.5rem 0;
}

button.agregar-btn,
button.eliminar-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #09521a;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin: 0.5rem 0.2rem;
  font-size: 0.9rem;
}

button.eliminar-btn {
  background-color: #dc3545;
}

button:hover {
  opacity: 0.8;
}

#catFactBtn {
  background-color: #393a3a;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 2rem auto;
  display: block;
}

#catFactBtn:hover {
  background-color: #464646;
}

footer {
  margin-top: auto;
  padding: 1rem;
  color: #fff;
  background-color: #333;
  text-align: center;
}

.productoItem {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.producto-img {
  max-width: 100%;
  height: auto;
}
